* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*STYLE DESKTOP*/

/*-------START HEADER---------*/

#conteiner__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #714263;
    padding: 25px 0;
}

.conteiner__header--logo {
    margin-left: 20px;
}

.logo-img {
    width: 220px;
}

.conteiner__header--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu li {
    padding: 20px;
}

.menu-list {
    text-decoration: none;
    color: white;
    font-size:  1.3rem;
    font-family: cursive;
    font-weight: bold;
}
.menu-list:hover {
    color: #C4FCEF;
}


/*-------END HEADER-----------*/