* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*STYLE DESKTOP*/

/*-------START HEADER---------*/

#conteiner__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #714263;
    padding: 25px 0;
}

.conteiner__header--logo {
    margin-left: 20px;
}

.logo-img {
    width: 220px;
}

.conteiner__header--menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu li {
    padding: 5px 20px;
}

.menu li:hover {
    border-left: 2px solid rgba(65, 188, 225,0.7);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
}


.menu-list {
    text-decoration: none;
    color: white;
    font-size:  1.3rem;
    font-family: cursive;
    font-weight: bold;
}
.menu-list:hover {
    color: #9eddce;
}

.submenu {
    display: none;
    position: absolute;
    list-style-type: none;
}

.menu li:hover> .submenu {
    display: block;
}

.submenu-list {
    color: white;
    font-family: cursive;
    text-decoration: none;
    font-size: 1.2rem;
    display:block;
}

.submenu-list:hover {
    color: #87cfbe;
}


/*-------END HEADER-----------*/